.showcase-section .droid-title {
    padding: 24px 0;
    width: 100vw;
    text-align: center;
}

.caracteristics-section{
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.caracteristic-badge{
    text-align: center;
}