<div @fade #overlay class="sections-wrapper">

    <!-- SECTION 1 -->
    <div class="showcase-section">
        <div class="toggle-control-btn mobileSize" (click)="this.toggleControls()" [ngClass]="{'toggled-btn' : this.isControlsEnabled}">
            <i class="fa-solid fa-camera-rotate"></i>
        </div>
        <div class="section1-control" [ngClass]="{'noselect' : this.isOnMobile &&  !this.isControlsEnabled}"></div>
        <div class="wrapper">
            <div class="droid-title noselect">
                <h1>BB-8</h1>
                <h3>"{{ "bb-shc.subtitle" | translate}}"</h3>
            </div>
            <div class="lower-section noselect">
                <div class="caracteristics-section">
                    <div class="caracteristic-badge">
                        <h2>{{ "bb-shc.carac-1-nb" | translate}}</h2>
                        <span>{{ "bb-shc.carac-1-txt" | translate}}</span>
                    </div>
                    <div class="caracteristic-badge">
                        <h2>{{ "bb-shc.carac-2-nb" | translate}}</h2>
                        <span>{{ "bb-shc.carac-2-txt" | translate}}</span>
                    </div>
                    <div class="caracteristic-badge">
                        <h2>{{ "bb-shc.carac-3-nb" | translate}}</h2>
                        <span>{{ "bb-shc.carac-3-txt" | translate}}</span>
                    </div>
                    <div class="caracteristic-badge">
                        <h2>{{ "bb-shc.carac-4-nb" | translate}}</h2>
                        <span>{{ "bb-shc.carac-4-txt" | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SECTION 2 -->
    <div class="showcase-section">
        <div class="wrapper">
            <div class="lower-section">
                <div class="description-section">
                    <div class="description">
                        <h1>{{ "bb-shc.sec2-title" | translate }}</h1>
                        <span>{{ "bb-shc.sec2-desc" | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SECTION 3 -->
    <div class="showcase-section">
        <div class="wrapper">
            <div class="layout">
                <div class="layout-section" #layoutOne  [@enterView]="layoutOneState" style="transform: translateY(50px);">
                    <div class="layout-img">
                        <img src="../../../../../assets/images/bb_alone.jpeg" alt="image">
                    </div>
                    <div class="layout-text text-right">
                        <h2>{{ "bb-shc.layout1-title" | translate }}</h2>
                        <span>{{ "bb-shc.layout1-txt" | translate }}</span>
                    </div>
                </div>
                <div class="layout-section" #layoutTwo [@enterView]="layoutTwoState" style="transform: translateY(50px);">
                    <div class="layout-text text-left">
                        <h2>{{ "bb-shc.layout2-title" | translate }}</h2>
                        <span>{{ "bb-shc.layout2-txt" | translate }}</span>
                    </div>
                    <div class="layout-img">
                        <img src="../../../../../assets/images/bb_r2.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SECTION 4 -->
    <div class="showcase-section">
        <div class="wrapper">
            <div class="right-section">
                <div class="description-section">
                    <div class="description">
                        <h1>{{ "bb-shc.sec4-title" | translate }}</h1>
                        <span>{{ "bb-shc.sec4-desc" | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>