<div @fade class="sections-wrapper">

    <!-- SECTION 1 -->
    <div class="showcase-section">
        <div class="wrapper">
            <div class="droid-title">
                <h1>BB-8</h1>
                <h3>"Le Téméraire"</h3>
            </div>
            <div class="lower-section">
                <div class="caracteristics-section">
                    <div class="caracteristic-badge">
                        <h2>69 semaines</h2>
                        <span>Autonomie</span>
                    </div>
                    <div class="caracteristic-badge">
                        <h2>42km/h</h2>
                        <span>Vitesse maximale</span>
                    </div>
                    <div class="caracteristic-badge">
                        <h2>69 000+</h2>
                        <span>Protocoles de réparation</span>
                    </div>
                    <div class="caracteristic-badge">
                        <h2>0,67m</h2>
                        <span>Plein pieds</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SECTION 2 -->
    <div class="showcase-section">
        <div class="wrapper">
            <div class="lower-section">
                <div class="description-section">
                    <div class="description">
                        <h1>Ca roule !</h1>
                        <span>Avec son systeme de déplacement gyro-magnétique,
                            les mouvement du droïde sont facilités sur <b>tous
                            les terrains</b>. Le sphero-corps GyrOB-X2 offre 
                            une <b>puissance</b> et une <b>accélération</b> incroyables 
                            pouvant aller jusqu'a 42km/h.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SECTION 3 -->
    <div class="showcase-section">
        <div class="wrapper">
            <div class="layout">
                <div class="layout-section" #layoutOne  [@enterView]="layoutOneState" style="transform: translateY(50px);">
                    <div class="layout-img">
                        <img src="../../../../../assets/images/bb_alone.jpeg" alt="image">
                    </div>
                    <div class="layout-text text-right">
                        <h2>L'acolyte idéal !</h2>
                        <span>Avec ses 600+ protocoles émotionnels BB-8 saura d'adapter à tous ses interlocuteurs ainsi qu'a toutes les situations qu'il rencontre.</span>
                    </div>
                </div>
                <div class="layout-section" #layoutTwo [@enterView]="layoutTwoState" style="transform: translateY(50px);">
                    <div class="layout-text text-left">
                        <h2>Format réduit</h2>
                        <span>Ne vous fiez pas à sa petite taille, malgrès le fait que BB-8 soit 2 fois plus petit que ses prédécesseurs, il est autant de fois plus efficace sur le terrain !</span>
                    </div>
                    <div class="layout-img">
                        <img src="../../../../../assets/images/bb_r2.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>