.sections-wrapper{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.showcase-section {
    height: 100vh;
    max-height: 100vh;
    position: relative;
    scroll-snap-align: start;
}

.showcase-section .wrapper {
    height: 100%;
    padding-top: var(--navbar-height);
    box-sizing: border-box;
}

.lower-section{
    width: 100vw;
    padding: 0 120px 48px 120px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-sizing: border-box;
    justify-content: space-between;
}

/*************/
/* Section 1 */
/*************/

.showcase-section .droid-title {
    padding: 24px 0;
    width: 100vw;
    text-align: center;
}

.caracteristics-section{
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.caracteristic-badge{
    text-align: center;
}

.toggle-control-btn {
    position: absolute;
    padding: 12px;
    text-align: center;
    justify-content: center;
    bottom: 20%;
    left: 0;
    margin-left: 12px;
    border-radius: 50%;
    color: var(--color-button-text);
    margin-top: var(--navbar-height);
    background-color: rgba(0,0,0,0.1);
    padding: 12px;
    display: none;
    z-index: 1;
}

.toggled-btn {
    background-color: var(--color-button);;
}

.section1-control {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

/*************/
/* Section 2 */
/*************/
.showcase-section .droid-title {
    padding: 24px 0;
    width: 100vw;
    text-align: center;
}

.description-section{
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.description {
    padding: 0 7vw;
    text-align: center;
}

/**************/
/* Section 3 */
/*************/
.layout {
    height: 100%;
    box-sizing: border-box;
    padding: 32px 14vw;
    background-color: #fff;
}

.layout-section {
    box-sizing: border-box;
    height: 50%;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.layout-img{
    width: 50%;
    height: 100%;
    max-height: 100%;
}

.layout-img img{
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: 50% 0;
}

.layout-text {
    width: 50%;
    display: flex;
    height: 100%;
    text-align: left;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.layout-text h2 {
    margin-bottom: 12px;
}

.text-right {
    padding: 38px 0 32px 48px;
    box-sizing: border-box;
}

.text-left {
    padding: 38px 48px 32px 0;
    box-sizing: border-box;
}


@media screen and (max-width: 750px) {
    .lower-section{
        padding: 0 18px 48px 18px;
        background: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0) 100%);
    }

    .caracteristic-badge h2 {
        font-size: 1.2em;
    }
    .caracteristic-badge span {
        font-size: 0.8em;
    }

    .layout {
        padding: 0;
    }

    .layout-text {
        position: absolute;
        width: 100%;
        color: white;
        bottom: 0;
        justify-content:flex-end;
        background: linear-gradient(0deg, rgba(0,0,0,0.8188317563353467) 0%, rgba(255,255,255,0) 100%);
    }

    .layout-img{
        width: 100%;
    }

    .text-right, .text-left {
        padding: 32px 48px;
        box-sizing: border-box;
    }

    .mobileSize {
        display: flex;
    }

    .toggled {
        background-color: var(--color-button);
        transition: all 0.5s ease;
    }
}