<div class="showcase-section">
    <div class="wrapper">
        <div class="droid-title">
        </div>
        <div class="lower-section">
            <div class="caracteristics-section">
                <div class="caracteristic-badge">
                    <h2>69 semaines</h2>
                    <span>Autonomie</span>
                </div>
                <div class="caracteristic-badge">
                    <h2>42km/h</h2>
                    <span>Vitesse maximale</span>
                </div>
                <div class="caracteristic-badge">
                    <h2>69 000+</h2>
                    <span>Protocoles de réparation</span>
                </div>
            </div>
        </div>
    </div>
</div>
