<div class="showcase-section">
    <div class="wrapper">
        <div class="lower-section">
            <div class="description-section">
                <div class="description">
                    <h1>Ca roule !</h1>
                    <span>Avec son systeme de déplacement gyro-magnétique,
                         les mouvement du droïde sont facilités sur <b>tous
                         les terrains</b>. Le sphero-corps GyrOB-X2 offre 
                         une <b>puissance</b> et une <b>accélération</b> incroyables 
                         pouvant aller jusqu'a 42km/h.</span>
                </div>
            </div>
        </div>
    </div>
</div>
