.sections-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    z-index: -1;
    overflow: hidden;
}

.section {
    overflow: hidden;
}

:host ::ng-deep .showcase-section{
    height: 100vh;
    max-height: 100vh;
    position: relative;
}

:host ::ng-deep .showcase-section .wrapper {
    height: 100%;
    padding-top: var(--navbar-height);
    box-sizing: border-box;
}

:host ::ng-deep .lower-section{
    width: 100vw;
    padding: 0 120px 48px 120px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-sizing: border-box;
    justify-content: space-between;
}

.caracteristics-section{
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}