<div class="showcase-section">
    <div class="wrapper">
        <div class="layout">
            <div class="layout-section">
                <div class="layout-img">
                    <img src="../../../../../assets/images/bb_alone.jpeg" alt="image">
                </div>
                <div class="layout-text text-right">
                    <h2>L'acolyte idéal !</h2>
                    <span>Avec ses 600+ protocoles émotionnels BB-8 saura d'adapter à tous ses interlocuteurs ainsi qu'a toutes les situations qu'il rencontre.</span>
                </div>
            </div>
            <div class="layout-section">
                <div class="layout-text text-left">
                    <h2>Format réduit</h2>
                    <span>Ne vous fiez pas à sa petite taille, malgrès le fait que BB-8 soit 2 fois plus petit que ses prédécesseurs, il est autant de fois plus efficace sur le terrain !</span>
                </div>
                <div class="layout-img">
                    <img src="../../../../../assets/images/bb_r2.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
