<nav class="navbar">
  <a href="#" class="logo">
    <i class="fa-brands fa-galactic-republic"><span>RDER-66</span></i>
  </a>
  <div class="actions">
    <div class="language action-section">
      <div class="language-btn pointer" (click)="this.toggleMenu()">
        <i class="fa-solid fa-globe"></i>
        <span class="button-text">Langage</span>
      </div>
    </div>
    <div class="order action-section">
      <a routerLink="/order" class="order-btn">
        <i class="fa-solid fa-cart-shopping"></i>
        <span class="button-text">Commander</span>
      </a>
    </div>
  </div>
</nav>

<div class="blur-overlay" [ngClass]="{'activeBlur': isMenuEnabled}"></div>
<div class="language-menu" [ngClass]="{'active': isMenuEnabled}">
  <div class="menu-header">
    <i class="fa-solid fa-xmark pointer" (click)="this.toggleMenu()"></i>
  </div>
  <ul class="pointer">
    <li><span>Français</span></li>
    <li><span>Anglais</span></li>
  </ul>
</div>

<router-outlet class="noselect"></router-outlet>